{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div style="text-align: center;">
    <h1 style="font-size: 102px; margin-top: 20px;">Welcome to Unlock EA</h1>
    <h6 style="text-decoration: underline; margin-bottom: 20px;">You are about to fully unlock your trading potential</h6>

    <div style="max-width: 100%; overflow: hidden;">
      <div style="position: relative; padding-bottom: 56.25%;">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/XHOmBV4js_E"
          title="Video Placeholder"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          style="position: absolute; top: 10px; left: 10px; width: 100%; height: 100%;"
        ></iframe>
      </div>
    </div>
  </div>
{% endblock %}
